.arrow-container {
  display: flex;
  position: absolute;
  top: calc(100vh - 60px);
}

@media (min-width: 600px) {
  .arrow-container {
    display: none;
  }
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 60px;
  background-color: #191919;
}
